:root{
  background-color: rgb(49, 49, 49);
}

body{
  padding: 10px;
}

.Krooz{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin: 5px;
  padding: 50px;
  background-color: rgba(78, 78, 78, 0.384);
  border-radius: 10px;
}