.center {
    display: flex;
    flex-direction: column;
    background-color: rgba(69, 69, 69, 0.322);
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
    align-items: center;
}

.center .btns {
    padding: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
}
.DirHandler{
    display: flex;
    border-radius: 10px;

}
.tag-script{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-weight: bold;

    padding: 20px;
    background-color: rgb(39, 39, 39);
    border-radius: 2px;
}
